.grid-container
{
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 'h h h h'
                         'm m n n'
                         'm m n n'
                         'f f f f ';
}

.item1 { grid-area: h; background-color: black; height: 50px; }
.item2 { grid-area: m; background-color: orange; height: 150px; }
.item3 { grid-area: n; background-color: green; height: 150px}
.item4 { grid-area: f; background-color: rgb(8, 0, 255); height: 100px}



