body
{
    margin: 0;
    display:flex;
    height: 100vh;
}


.d{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color:aliceblue;
}


.d:nth-child(1){background-color: orange;}
.d:nth-child(2){background-color: rgb(16, 12, 205);}